2017_jun_final.csv
bestsellers with categories.csv
OverfittingHomeWork.ipynb
python_data_salary.csv
Housing.csv
module 6.1.ipynb
module 6.2.ipynb
bikes_rent.csv
.env
module 5.2.ipynb
hw5_data
titanic_classification — all modules
module 9.1.ipynb
hw6_data
hw7.2_data
surprise
GoIT_HW_8_new.ipynb
module 11.2 tasks.ipynb
module 11.2.ipynb
module 12.2.ipynb
module 13.1.ipynb
module 13.2.ipynb
